@import "tailwindcss";

/*
Colors to use:
  --text: #e3ecf2;
  --background: #040604;
  --primary: #041b17;
  --secondary: #204948;
  --tetiary: #090b09;
  --accent: #1c158a;
*/

:root {
  --background: #f6f7fa;
  --text: #858384;
  --primary: #fefcfe;
  /* --secondary: #e7e7eb; */
  --font-sans: var(--font-poppins);
}

/* Used for section titles (About, Projects) */
.section-title {
  @apply absolute text-[14rem] font-black uppercase -z-10 opacity-20 blur-sm;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-sans), sans-serif;
}

html {
  scroll-behavior: smooth;
}
