@import "tailwindcss";

:root {
  --background: #040604;
  --text: #e3ecf2;
  --primary: #041b17;
  --secondary: #1e2939;
  --tetriary: #ffffe5;
  --font-sans: var(--font-poppins);
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-sans), sans-serif;
}

html {
  scroll-behavior: smooth;
}
